img
  max-width: 100%
body
  +SansReg
.buttons
  &__button
    width: 160px
    height: 50px
    box-shadow: 0 0 3px rgba(3, 3, 3, 0.1)
    border-radius: 3px
    font-size: 14px
    text-transform: uppercase
    +Sansbold
    color: #ffffff
    &:hover
      cursor: pointer
    &_primary
      border: none
      background-color: #008ed6
    &_secondary
      margin-left: 20px
      border: 1px solid rgba(255, 255, 255, 0.2)
      background-color: transparent
.section
  padding: 60px 0
  &__title
    color: #008ed6
    font-size: 14px
    text-transform: uppercase
    letter-spacing: 1.4px
    +Sansbold
  &__descr
    position: relative
    margin-top: 30px
    color: #1a1a1a
    font-size: 36px
    +SansSemibold
    &_center, &_left
      &:before, &:after
        content: ''
        width: 20px
        height: 2px
        background-color: #008ed6
        position: absolute
        bottom: -25px
    &_center
      text-align: center
      &:before
        left: 48.2%
      &:after
        right: 48.2%
    &_left
      &:before
        width: 5.5%
        left: 0
      &:after
        width: 5.5%
        right: 88.3%
    &_white
      color: #ffffff


@media (max-width: 991px)
  .section
    &__title
      font-size: 12px
    &__descr
      font-size: 26px


@media (max-width: 768px)
  .section
    &__title
      &_left
        text-align: center
    &__descr
      &_left
        text-align: center
        &:before
          left: 44%!important
        &:after
          right: 44%!important